USE [ispp2109]
GO
/****** Object:  Table [dbo].[Promocode]    Script Date: 20.09.2025 19:22:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Promocode](
	[Code] [varchar](10) NOT NULL,
	[StartDate] [datetime2](7) NULL,
	[EndDate] [datetime2](7) NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_Promocode] PRIMARY KEY CLUSTERED 
(
	[Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Promocode] ([Code], [StartDate], [EndDate], [IsActive]) VALUES (N'promo1', CAST(N'2025-09-20T12:17:15.2120000' AS DateTime2), CAST(N'2025-09-20T12:17:15.2120000' AS DateTime2), 0)
INSERT [dbo].[Promocode] ([Code], [StartDate], [EndDate], [IsActive]) VALUES (N'promo2', NULL, NULL, 1)
INSERT [dbo].[Promocode] ([Code], [StartDate], [EndDate], [IsActive]) VALUES (N'promo3', CAST(N'2025-09-20T12:17:15.2120000' AS DateTime2), NULL, 0)
GO
ALTER TABLE [dbo].[Promocode] ADD  CONSTRAINT [DF_Promocode_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
